@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Smoke!</h1>
    <p><a href="https://docs.microsoft.com/aspnet/core">Free Smoke!</a></p>
    <p><a href="https://docs.microsoft.com/aspnet/core">NEROIS!</a></p>
    <img src="https://media-exp1.licdn.com/dms/image/C4E03AQHeLQrFexYMQg/profile-displayphoto-shrink_200_200/0?e=1598486400&v=beta&t=I626NjzOB8mHu2oH6GWmcb1bWJ3hSDn6upI8mDwYLZA">
</div>
